.auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-card {
    padding: 2rem;
    border-radius: 10px;
    width: min(500px, 90%);
    background-color: rgb(42, 42, 42);
}

.auth-card p {
    font-weight: 300;
    color: var(--text-app-color);
    font-family: var(--ff);
    text-align: center;
    margin: 1rem 0 0 0;
}

.auth-form {
    margin-top: 1rem;
}

.form-title {
    font-family: var(--ff);
    font-weight: 400;
    color: var(--primary-color);
    text-align: center;
}

.auth-button {
    width: 100%;
    border: none;
    padding: .5rem 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    margin-top: .5rem;
}

.form-group {
    margin-bottom: 1rem;
    font-family: var(--ff);
    font-weight: 300;
}

.redirect-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    transition: all .3s ease-in-out;
    font-family: var(--ff);
}

label {
    color: var(--text-app-color);
    font-family: var(--ff);
    font-weight: 300;
}

.form-control {
    font-family: var(--ff);
    font-weight: 300;
    background-color: rgb(70, 70, 70);
    outline: none;
    border: none;
    color: white;
    transition: all .3s ease-in-out;
}

.form-control:focus {
    background-color: rgb(90, 90, 90);
    box-shadow: none;
    color: white;
}

.form-control:hover {
    background-color: rgb(90, 90, 90);
}

.error-alert {
    background-color: rgba(255, 113, 113, 0.356) !important;
    margin-bottom: 1rem;
    text-align: center;
    padding: .5rem 0;
    border-radius: 5px;
    color: black !important;
    font-family: var(--ff) !important;
}

.failed-auth {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.failed-auth img {
    width: 150px;
    height: 150px;
}

.failed-auth h2 {
    margin-top: 2rem;
}

.failed-auth p {
    color: var(--text-app-color);
    font-family: var(--ff);
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.not-found img {
    width: 200px;
    height: 200px;
}

.not-found p {
    color: var(--text-app-color);
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
    padding-inline: 1rem;
}

@media (max-width: 768px) {
    .auth-section {
        height: 90vh;
    }
}