.dashboard span {
    color: var(--primary-color);
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    gap: 2rem;
}

.dashboard-header h1 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-app-color);
    margin: 0;
}

.dashboard-header-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.dashboard-btn-active {
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 0.875rem 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-family: var(--ff);
    font-weight: var(--fw-500);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.dashboard-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 0.875rem 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-family: var(--ff);
    font-weight: var(--fw-500);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.logout-btn {
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-size: 1.25rem;
    color: rgb(255, 100, 100);
    cursor: pointer;
}

.dashboard-nav-links {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
    border-right: 1px solid rgb(105, 105, 105);
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    z-index: 999;
}

@media screen and (max-width: 992px) {
    .hamburger-menu {
        display: block;
    }

    .dashboard-header-links {
        display: none;
    }

    .line {
        width: 30px;
        height: 2px;
        background-color: rgb(105, 105, 105);
        transition: all 0.3s ease-in-out;
    }

    .line:nth-child(1).active {
        transform: translateY(12px) rotate(45deg);
    }
    .line:nth-child(2).active {
        opacity: 0;
    }
    .line:nth-child(3).active {
        transform: translateY(-12px) rotate(-45deg);
    }
    
    .line + .line {
        margin-top: 10px;
    }

    .side-bar-links {
        position: fixed;
        z-index: 100;
        display: flex;
        animation: slideFromRight 0.5s ease-in-out;
        flex-direction: column;
        justify-content: space-between;
        padding: 10rem 0 10rem 0;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background-color: rgb(50, 50, 50);
    }

    .sidebar-btn-active {
        display: block;
        border: none;
        font-size: 1.25rem;
        color: white;
        cursor: pointer;
        background-color: var(--primary-color);
        padding: 1rem 0;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        font-family: var(--ff);
        font-weight: var(--fw-500);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    .sidebar-btn {
        display: block;
        border: 1px solid var(--primary-color);
        font-size: 1.25rem;
        color: var(--primary-color);
        cursor: pointer;
        background-color: transparent;
        padding: 1rem 0;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        font-family: var(--ff);
        font-weight: var(--fw-500);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }

    .upper-side {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .logout-side-btn {
        display: block;
        background-color: transparent;
        border: none;
        font-size: 1.25rem;
        color: rgb(255, 100, 100);
        cursor: pointer;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-family: var(--ff);
        font-weight: var(--fw-500);
        transition: all 0.2s ease-in-out;
    }
}

@media screen and (max-width: 576px) {
    .hamburger-menu {
        margin-right: 10px;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBack {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}