.home-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 2rem;
}

.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.logo {
    width: min(300px, 90%);
}

.home-title {
    font-size: clamp(3rem, 2.295rem + 2.893vw, 5rem);
    font-weight: 700;
    color: var(--primary-color);
    margin-top: 1rem;
    text-align: center;
}

.home-links {
    margin-top: 2.5rem;
    display: flex;
    gap: 2rem;
}

.signup-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 0.875rem 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-family: var(--ff);
    font-weight: var(--fw-500);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.login-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 0.875rem 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
    font-family: var(--ff);
    font-weight: var(--fw-500);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.signup-btn:hover, .login-btn:hover {
    border-radius: 30px;
}

.already-logged {
    margin-top: 2rem;
    color: var(--text-app-color);
}

.already-logged p {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    margin-top: .5rem;
}

.already-logged span {
    color: var(--primary-color);
    font-weight: 500;
}

.go-dashboard-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 0.875rem 0;
    width: 300px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--ff);
    font-weight: var(--fw-500);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.bounce-in {
    opacity: 0;
    animation: bounceIn cubic-bezier(0.25, 0.1, 0.28, 1.29) 1s forwards;
    -webkit-animation: bounceIn cubic-bezier(0.25, 0.1, 0.28, 1.29) 1s forwards;
    -moz-animation: bounceIn cubic-bezier(0.25, 0.1, 0.28, 1.29) 1s forwards;
    -o-animation: bounceIn cubic-bezier(0.25, 0.1, 0.28, 1.29) 1s forwards;
    -ms-animation: bounceIn cubic-bezier(0.25, 0.1, 0.28, 1.29) 1s forwards;
}

.fade-in-up {
    opacity: 0;
    animation: fadeInUp ease 1s forwards;
    -webkit-animation: fadeInUp ease 1s forwards;
    -moz-animation: fadeInUp ease 1s forwards;
    -o-animation: fadeInUp ease 1s forwards;
    -ms-animation: fadeInUp ease 1s forwards;
}

.fade-in {
    opacity: 0;
    animation: fadeIn ease 1s forwards;
    -webkit-animation: fadeIn ease 1s forwards;
    -moz-animation: fadeIn ease 1s forwards;
    -o-animation: fadeIn ease 1s forwards;
    -ms-animation: fadeIn ease 1s forwards;
}

.delay-1 {
    animation-delay: .5s;
}
.delay-2 {
    animation-delay: 1s;
}
.delay-3 {
    animation-delay: 1.5s;
}
.delay-4 {
    animation-delay: 2s;
}
.delay-btn {
    animation-delay: 2.25s;
}

.fast {
    animation-duration: .5s;
}