.dashboard {
    padding: 7rem 0 0 0;
    min-height: 100vh;
    position: relative;
}

.dashboard h1 {
    font-size: 2rem;
    font-weight: 400;
    color: rgb(75, 75, 75);
}

.dashboard span {
    color: var(--primary-color);
}

.create-btn {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: var(--primary-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 3rem;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.note {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.note h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(75, 75, 75);
    font-family: var(--ff);
    margin: 0;
}

.note p {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(75, 75, 75);
    font-family: var(--ff);
    margin-top: 1rem;
    min-height: 100px;
    overflow: hidden;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    width: min(700px, 90%);
}

.create-note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.create-note-header button {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: rgb(75, 75, 75);
    cursor: pointer;
}

.create-note-header h1 {
    font-size: 2rem;
    font-weight: 400;
    color: rgb(75, 75, 75);
    font-family: var(--ff);
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}


.create-form input {
    border: none;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(75, 75, 75);
    font-family: var(--ff);
    transition: all 0.3s ease-in-out;
}

.create-form input:focus {
    outline: none;
    box-shadow: 0 0 8px var(--primary-color);
}

.create-form textarea {
    border: none;
    background-color: rgb(245, 245, 245);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(75, 75, 75);
    font-family: var(--ff);
    transition: all 0.3s ease-in-out;
    resize: none;
    min-height: 100px;
}

.create-form textarea:focus {
    outline: none;
    box-shadow: 0 0 8px var(--primary-color);
}

.create-form button {
    border: none;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    font-family: var(--ff);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.create-form button:hover {
    border-radius: 30px;
}

.note-header button {
    border: none;
    background-color: transparent;
    color: rgb(75, 75, 75);
    cursor: pointer;
}

.no-notes {
    text-align: center;
    font-weight: 300;
    color: rgb(75, 75, 75);
    font-family: var(--ff);
    margin-top: 5rem;
}