footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-text {
    color: var(--text-app-color);
    font-weight: 300;
    letter-spacing: 1px;
    font-family: var(--ff);
    margin: 0;
    text-align: center;
}

.credits {
    color: var(--text-app-color);
    font-weight: 300;
    letter-spacing: 1px;
    font-family: var(--ff);
    margin: 0;
    text-align: center;
}

.credits a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    transition: all .3s ease-in-out;
}