.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-title {
    font-size: clamp(2rem, 1.824rem + 0.723vw, 2.5rem);
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--ff);
    margin-bottom: 2rem;
}

.home-title span {
    color: var(--primary-color);
}

.home-desc {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: var(--ff);
}

.home-btn {
    display: inline-block;
    margin-top: 2.5rem;
    width: 50%;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--ff);
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
}

.home-btn:hover {
    border-radius: 30px;
}

.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 992px) {
    .home-section {
        margin: 5rem 0 3rem 0;
    }

    .home-img {
        margin-top: 2rem;
        width: min(500px, 90%);
    }
}

@media (max-width: 768px) {
    .home-btn {
        width: 100%;
        font-size: 1rem;
    }
}